A{
    text-decoration: none;
    color: #424242;
}
A:hover{
    color: green;
}
.navbar{
    top: 0;
    width: 100%;
    z-index: 10;
    position: fixed;
    background-color: #fff;
    box-shadow: 2px 1px 4dvi #eee;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: space-between;
    max-width: 100%;

    margin-left: 10px;
    margin-right: 50px;
   

}
#logo{
    width: 200px;
    cursor: pointer;
}
.navbar-element{
    display: flex;
  margin-top: 12px;
  
    
  justify-content: center;
 
}
.elments{
    padding: 15px;
    font-size: large;
    font-weight: 600;
    font-family: Inter,serif;
    cursor: pointer;


}
.user-logo {
    padding-top: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.email-popup {
    display: none;
    background-color: #333;
    color: white;
    padding: 5px;
    position: absolute;
    top: 50px;
    right: 10px;
    border-radius: 5px;
}

body{
    font-size: 16px;
    font-family: Inter,serif;
    color: #424242;
}
.first-sec{
    margin-top: 90px;
    margin-bottom: 50px;
    display: block;
}
.first-div{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}
#home-image{
   width: 550px;
}
.image-first{
    margin: 50px;
    padding: 10px;

}
.text-first{
margin-top: 100px;
margin-left:70px;
margin-bottom: 250px;
padding-top: 10px;
padding-bottom: 50px;
padding-left: 70px;
width: 400px;
font-size: xx-large;
font-weight: 500;
    
}
#sign-up{
    padding: 10px;
    margin-top: 5%;
    width: 200px;
    font-size: 20px;
    border-radius: 5px;
    color: #fff;
    background-color: #424242;
    cursor: pointer;
}
#sign-up:hover{
    background-color: black;
}
.findWork{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1280px;
    margin: 10px auto;
    height:auto;
  
   
}

.right-Work{
    background-color: #1F57C3;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 30px;
    
}
.image{
    width: 100%;
    height: 100%;
    max-width: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

}

.talent-first{
    font-size: 16px;
    color: white;
    display: block;
    font-family: Inter,serif;
    width: 580px;
    height: auto;
    padding-bottom: 100px;
    margin-bottom: 30px;
}
.para-talent
{
    font-size: 24px;
    font-family:  Inter,serif;
    margin-bottom: 32px;
}
.span1-talent{
    font-size: 70px;
    font-weight: 550;
    width: 300px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
    margin-bottom: 32px;
    padding: 0%;
}
.span2-talent{
    font-size: 16px;
    font-weight: 400px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.overview{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 16px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
.overview-0{
    padding-right: 15px;
    padding-bottom: 20px;

}
.overview-1{
    padding-right: 15px;
    padding-bottom: 20px;
    
}
.overview-2{
    padding-right: 15px;
    padding-bottom: 20px;
    
}
.nav-work{
    padding: 10px;
    color: #1F57C3;
    font-size: 16px;
    border-radius: 12px;
   border: none;
}

footer{
	padding: 70px 8% 30px;
	background-color: rgb(36, 36, 36);
}

footer .footer-content{
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 50px;
}
.footer-content .footer-col{
	flex-basis: calc(calc(100% / 4) - 20px);
}
.footer-content .footer-col-1 .footer-title{
	min-height: 60px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
}
.footer-col .col-title h3{
	font-size: 24px;
	color: white;
}
.footer-col .col-content{
	display: flex;
	flex-direction: column;
}
.footer-col-1 .col-title img{
	width: 150px;
}

.footer-col-1 .col-content p{
	color: white;
	font-size: 15px;
	line-height: 1.3;
	margin-bottom: 15px;
}
.footer-col-2 .col-content .content-row{
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}
.footer-col-2 .col-content .content-row span{
   color: white;
   font-size: 16px;
}
.footer-col-3 .col-content a{
    text-decoration: none;
    color: white;
    margin-bottom: 20px;
    align-self: flex-start;
	transition: all 0.3s;
}
.footer-col-3 .col-content a:hover{
	letter-spacing: 1.5px;
}
.copy-rights{
	padding: 10px 0px 0px;
	border-top: 1px solid white;
	text-align: center;
}
.copy-rights p{
	color: white;
}